:root {
    --strong-cyan: #00A7BE;
    --bright-orange: #F17245;
    --soft-orange: #edd9a8;
    --lime-green: #CFE8D4;
    --green: #a2e5af;
    --brown: #6E5B45;
    --light-brown: #94826d;
}

* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lime-green);
  }
  
  header {
    font-size: 6vmin;
    color: var(--brown);
    font-weight: 300;
    letter-spacing: 1vmin;
  }
  
  h1 {
    color: var(--light-brown);
    font-size: 3vmin;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    gap: 1vmin;
  }
  
  #board>div {
    border: 0.1vmin solid var(--light-brown);
  }

  #board>div.active:hover {
    background-color: var(--brown);
    cursor: pointer;
  }
  
  button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid var(--light-brown);
    color: var(--light-brown);
    background-color: var(--soft-orange);
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
  }
  
  button:hover {
    color: white;
    background-color: var(--brown);
  }