:root {
    --strong-cyan: #00A7BE;
    --bright-orange: #F17245;
    --soft-orange: #edd9a8;
    --lime-green: #CFE8D4;
    --green: #a2e5af;
    --brown: #6E5B45;
    --light-brown: #94826d;
}

* {
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lime-green);
    -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

header {
    font-size: 6vmin;
    color: var(--brown);
    font-weight: 300;
    letter-spacing: 1vmin;
}

h1 {
    color: var(--light-brown);
    font-size: 3.2vmin;
}

#message > span.player {
    font-size: 4vmin;
}

#message > span.tie {
    font-size: 3.4vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    gap: 1vmin;
}

#board>div {
    border: 0.1vmin solid var(--light-brown);
    display: flex;
    justify-content: center;
    align-items: center;
}

#board>div.playable:hover {
    background-color: var(--brown);
    cursor: pointer;
}

div > .cross {
    font-size: 25vmin;
}

div > .circle {
    font-size: 19vmin;
}

button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid var(--light-brown);
    color: var(--light-brown);
    background-color: var(--soft-orange);
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
  
button:hover {
    color: white;
    background-color: var(--brown);
}

#message {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    header {
        font-size: 8vmin;
    }
    h1 {
        font-size: 7vmin;
    }
    #message > span.player {
        font-size: 9vmin;
    }
    
    #message > span.tie {
        font-size: 7.8vmin;
    }
    #board {
        grid-template-columns: repeat(3, 25vmin);
        grid-template-rows: repeat(3, 25vmin);
        gap: 1.5vmin;
    } 
    div > .cross {
        font-size: 31vmin;
    }
    div > .circle {
        font-size: 24vmin;
    }
    button {
        margin-top: 10vmin;
        transform: scale(2);
    }
  }